{% extends 'todo/base.html' %} {% block content %}
<center>
  <h2>TODO List</h2>
</center>
<hr />
<ol>
  {% for todo in todos %}
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">{{todo.title}}</div>
      {{todo.description}}
      <br />
      {{todo.updated_date}}
    </div>
    <span class="badge bg-primary rounded-pill">{{todo.priority}}</span>

    {% if todo.isDone %}
    <span class="badge bg-dark rounded-pill">Done</span>
    {% endif %}
  </li>
  <div style="display: flex; justify-content: right; margin: 1rem">
    <a href="{% url 'todo_update' todo.id %}"><span class="badge bg-info rounded-pill">Update</span></a>
    <a href="{% url 'todo_delete' todo.id %}"><span class="badge bg-danger rounded-pill">Delete</span></a>
  </div>
  <hr />

  {% comment %}

  <li>
    <tr>
      <td>{{todo.title}}</td>
      <!-- <td>{{todo.description}}</td>
      <td>{{todo.priority}}</td>
      <td>{{todo.isDone}}</td>
      <td>{{todo.updated_date}}</td> -->
      <a href="{% url 'todo_update' todo.id %}">Update </a>
    </tr>
  </li>
  {% endcomment %} {% endfor %}
</ol>

{% endblock content %}
