{% extends 'todo/base.html' %} {% block content %}
<center>
  <h2>TODO Add</h2>
</center>
<hr />
{% comment %}
<form action="" method="POST">
  <!-- !csrf_token post işlemi yapılacağı zaman bu token kullanılır. -->
  {% csrf_token %}
  <br />
  {{ form.as_p}}
  <button type="submit">Save</button>
</form>
{% endcomment %}
<div style="width: 300px; margin: auto">
  {% load crispy_forms_tags %}
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %} {% comment %} {{ form.as_p }} {% endcomment %} {{ form | crispy}}
    <center>
      <button class="btn btn-dark" type="submit">Save</button>
    </center>
  </form>
</div>
{% endblock content %}
